@{
    ViewData["Title"] = "Reset Password";
}

<!-- Hiển thị thông báo thành công nếu có -->
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}

<!-- Rest of your HTML code -->
<form asp-action="Reset-Password" method="post">
    <input type="hidden" />
    <input type="hidden" name="token" value="@ViewData["token"]" />

    <div class "form-group">
        <label asp-for="newPassword">Mật khẩu mới</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control" />
        <span class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Thiết lập lại mật khẩu</button>
</form>
